/*** Style Definitions ***/
html { background:#000000;}
body { overflow:hidden; }
#content { display: flex; word-wrap:break-word; white-space:normal; font-size: 1.5vw; }
#myname { display: flex; word-wrap:break-word; white-space:normal; font-size: 2.5vw; }
.links { font-size: 1.5vw; word-spacing:30px; }

/*** Background Images ***/
.parallax { width:300%; height:1200px; overflow:hidden; position: relative; }

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  #main-bg            {
    max-width: 120%;
    width: 50%;
    height: 100%;
    z-index: 1;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (max-width : 1223px)
and (min-width : 768px) {
  #main-bg            {
    max-width: 120%;
    width: 60%;
    height: 100%;
    margin-top: -100px;
    z-index: 1;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (max-width : 767px)
and (min-width : 601px) {
  #main-bg            {
    max-width: 120%;
    width: 70%;
    height: 100%;
    margin-left: -100px;
    margin-top: -100px;
    z-index: 1;
  }
  #content { display: flex; word-wrap:break-word; white-space:normal; font-size: 2.5vw; }
  #myname { display: flex; word-wrap:break-word; white-space:normal; font-size: 3.5vw; }
  .links { font-size: 2.5vw; word-spacing:30px; }
}

/* Iphone and Android ----------- */
@media only screen 
and (max-width : 600px) {
  #main-bg            {
    max-width: 120%;
    width: 80%;
    height: 100%;
    margin-left: -100px;
    margin-top: -80px;
    z-index: 1;
  }
  #content { display: flex; word-wrap:break-word; white-space:normal; font-size: 2.5vw; }
  #myname { display: flex; word-wrap:break-word; white-space:normal; font-size: 3.5vw; }
  .links { font-size: 2.5vw; word-spacing:30px; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : portrait) {
  /* Styles */
}

/*** Menu/Nav ***/

#menu { float:right; position:absolute; top:20px; right:10px; z-index:10; }

#menu a { background:#222; color:#CCCCCC; border:#AAA 3px solid;  text-decoration:none; padding:10px; margin-right:10px; border-radius:10px; -webkit-border-radius:10px;}
                    
#menu a:hover { background: #333; color:#FFF; border:#FFF 3px solid; text-decoration:none; padding:10px; margin-right:10px; border-radius:10px; -webkit-border-radius:10px;}

#menu a.selected { background:#444; color:#FFF; border:#67b2ff 3px solid; text-decoration:none; padding:10px; margin-right:10px; border-radius:10px; -webkit-border-radius:10px;}
                    
#menu li { float:left; }

ul { list-style: none;}

p { color:#FFFFFF;}

/*** Body Content ***/
#wrapper { width:100%; height:100%; position:absolute; top:0; left:0; bottom:10%; overflow:hidden; }

#mask { width:400%; height:100%; }

.box { width:25%; height:100%; float:left; }

#box1 {font-family:"Lucida Console", Monaco, monospace; font-size:20px; color:#FFFFFF;}

#box2 { font-family:"MS Serif"; } /* Prices and services might go here */

#box3 {font-family:"MS Serif", "New York", serif; font-size:20px;}

.content1 { width:960px; height:400px; top:24%; margin: 0 auto; position:relative; background:rgba(255,255,255, 0); }

.content2 { width:930px; height:370px; top:20%; margin: 0 auto; position:relative; background:rgba(255,255,255, 0.3); border-radius:35px; -webkit-border-radius: 35px 35px 35px 35px; }

.content3 { width:960px; height:400px; top:20%; bottom:10%; margin: 0 auto; position:relative; background:rgba(255,255,255, 0);overflow:auto; }

.content4 { width:620px; height:380px; top:20%; bottom:10%; margin: 0 auto; position:relative; background:rgba(255,255,255, 0); }

/* About Me */            
.inner { width:920px; height:360px; background:rgba(0, 0, 12, 0.8); border-radius:30px; -webkit-border-radius:30px; margin:5px; padding:15px; top:5px; position:relative; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:15px; }
                
.inner2 { width:900px; height:340px; background:rgba(0, 0, 0, 0); top:5px; position:relative; }

/* Gallery */
#pic2 {width:920px; height:340px; top:20%; bottom:20%; margin-left:auto; margin-right:auto; position:fixed; overflow:hidden;}

/*Firefly Effect*/
#firefly { width:80%; height:80%; background-position:center; position:absolute; bottom:10%; z-index:0; overflow:hidden;}

/* Logo */
h1#logo { background:url(../images/Logo.png) top left no-repeat; height:62px; width:481px; }